/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
	background: url('../img/vineyard.jpg') no-repeat center center fixed;
	background-color: #f9f9f9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}
/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px auto;
	width:100%;
	margin-bottom: 45px;
	background-color: transparent !important;
}
html.no-touch body{
/*
    border-radius: .25em;
    box-shadow: 0 .15em 1em black;
    opacity: .98;
*/
	background-color: transparent;
}
html.no-touch .page {
    border-radius: .25em;
    box-shadow: 0 .15em 1em black;
    margin: 1em;
    max-width: 34em;
    opacity: .9;
}

.whitebox{
    border-radius: .25em !important;
    box-shadow: 0 .15em 1em black;
    opacity: .98 !important;
	background-color: #fff !important;
    margin: 0px;
    width: 100% !important;
	padding: 10px;
}


.footer {
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 45px;
	background-color: #f5f5f5;
}

@media (min-width: 768px) {
	body{
		width: 60%;
	}
	.container{
		width:90%;
	}
}

h1.calories {
	margin-top: .1em;
}
h1.calories {
	font-size: 500%;
	font-weight: 100;
}
p.clabel{
	font-size:200%;
	font-weight: 100;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important;
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2) !important;
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2) !important;
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2) !important;
}

.shadow{
	box-shadow:inset 0 0 0 100px #5FCBE5;
	position:relative;
}
.shadow:before,
.shadow:after {
	content:'';
	position:absolute;
	height:100%;
	top:0;
	bottom:0;
	width:1px;
	box-shadow:-2px 0 2px;
}
.shadow:before {
	left:0;
}
.shadow:after {
	right:0;
	box-shadow:2px 0 2px;
}

#credit,#credit:visited {
	background-color: rgba(0,0,0,.25);
	bottom: 1em;
	color: white !important;
	font-size: 10px;
	padding: .5em .75em;
	position: fixed;
	right: 1em;
	z-index: 1000;
}

.list-group-item{
	margin-top:5px;
	margin-bottom:5px;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}


form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.angular-medium-editor{
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.aaths-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  position: relative;
  background:#ecf0f1;
  padding:0.25em;
  padding-left: 2.8em;
  min-height: 2.618em;
}

.aaths-instructions {
  font-size: 1em;
}

.aaths-close {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  position:absolute;
  font-size:1.625em;
  line-height: 0.75em;
  width:1em;
  height:1em;
  text-align: center;
  vertical-align: middle;
  color:#fff;
  top:0.35em;
  left: 0.35em;
  background:#2c3e50;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .aaths-instructions {
    font-size: 1.218em;
    text-align: center;
  }
}

/* Install to Home Screen Display */
#iphone_install {
  z-index: 999;
  position: fixed;
  bottom: -500px;
  left: 0;
  width: 100%;
  height: 610px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.15s linear, opacity 0.15s linear;
}
#iphone_install .top {
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #111;
  font-size: 42px;
  color: #FFF;
  margin-bottom: 50px;
}
#iphone_install img.share {
  display: inline-block;
  position: relative;
  margin: 0 15px;
  top: 10px;
}
#iphone_install p {
  margin: 30px 60px;
  text-align: center;
  font-size: 52px;
}
#iphone_install p.arrow {
  position: relative;
  left: 12px;
  top: -40px;
  font-size: 92px;
}

p.arrow {
	text-align: center;
	font-size: 52px;
}
img.share {
	display: inline-block;
	position: relative;
	margin: 0 1px;
	top: 0px;
	width: 20px;
	height: auto;
}

#iphone_install.hidden {
  opacity: 0;
  pointer-events: none;
}
#iphone_install.open {
  -webkit-transform: translate3d(0, -500px, 0);
}
#mobile_link {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 110px;
  line-height: 110px;
  width: 100%;
  text-align: center;
  background-color: #111;
  font-size: 42px;
}
#mobile_link a {
  color: #FFF;
  text-decoration: none;
}
#install {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  pointer-events: none;
  color: #444;
  font-family: "AvenirNextCondensed-Medium", "AvenirNextLTW01-MediumC 721311", "Arial Narrow", Verdana, sans-serif;
  text-shadow: 1px 1px 0 #FFF;
  overflow: hidden;
  background: #f8f8f8 url(../img/install_share.png) 50% 70% no-repeat;
  background-size: auto 50%;
}
#install .bold {
  font-family: "AvenirNextCondensed-Bold", "AvenirNextLTW01-BoldCn", "Arial Narrow", Verdana, sans-serif;
}
#install .top {
  margin-top: 25px;
}
#install h2 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
#install h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0 25px;
}
#install .chrome_instructions {
  display: none;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  line-height: 1.3em;
  text-align: center;
}
body.mobile_chrome #install .chrome_instructions {
  display: block;
}
#install .instructions {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 17px;
  line-height: 1.3em;
  text-align: center;
}
body.mobile_chrome #install .instructions {
  display: none;
}
#install .instructions .pictos {
  display: block;
  width: 100%;
}
body.landscape #install {
  background: #E9E9E9;
}
body.landscape #install .instructions .pictos {
  position: relative;
  left: -38px;
}

html.no-touch body > #iphone_install{
/*	display:none;*/
}

.Absolute-Center {
  margin: auto;
  text-align: center;
/*
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
*/
}
/*
.Absolute-Center.is-Responsive {
  width: 100%; 
  height: 100%;
  padding: 40px;
}
*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left:10px;
  margin-right:10px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 34px;
  line-height: 1.33;
  border-radius: 35px;
}